In [4]:
import pandas as pd

In [5]:
col = ['sip', 'sport', 'dip', 'dport', 'proto', 'first_timestamp', 'total_time', 'sni', 'pkt_fwd_count', 'pl_fwd_count',
      'last_timestamp_fwd', 'pl_len_fwd_mean', 'pl_len_fwd_stdev', 
       'pl_len_fwd_total', 'pl_len_fwd_min', 'pl_len_fwd_max',
       'pkt_len_fwd_mean', 'pkt_len_fwd_stdev', 'pkt_len_fwd_total',
       'pkt_len_fwd_min', 'pkt_len_fwd_max', 'iat_fwd_mean', 'iat_fwd_stdev',
       'iat_fwd_total', 'iat_fwd_min', 'iat_fwd_max', 'pkt_bwd_count',
       'pl_bwd_count', 'last_timestamp_bwd', 'pl_len_bwd_mean',
       'pl_len_bwd_stdev', 'pl_len_bwd_total', 'pl_len_bwd_min',
       'pl_len_bwd_max', 'pkt_len_bwd_mean', 'pkt_len_bwd_stdev',
       'pkt_len_bwd_total', 'pkt_len_bwd_min', 'pkt_len_bwd_max',
       'iat_bwd_mean', 'iat_bwd_stdev', 'iat_bwd_total', 'iat_bwd_min',
       'iat_bwd_max', 'dd', 'dn', 'dns', 'ds', 'application' ]

In [9]:
# df = pd.read_csv('/home/mpaul/projects/mpaul/mai/data/dns/twc_output/videoStream_amazonPrimeVideo_20231212_Solana2023a_1min_37.csv', usecols=col)
df = pd.read_csv('data/dns/2023a_Wireline_Ethernet_dns.csv', usecols=col)

df = df[(df['sport'] == 53) | (df['dport'] == 53)]

In [18]:
df['first_timestamp'] = pd.to_datetime(df['first_timestamp'])
# df_sorted = df.sort_values(by='first_timestamp', ascending=True)
df = df.sort_values(by='first_timestamp', ascending=True)
# df['bucket'] = df['first_timestamp'].diff().dt.total_seconds()*1000
df['time_difference'] = df['first_timestamp'] - df['first_timestamp'].iloc[0]

# Optionally, convert the time difference to a more readable format (like total seconds)
df['time_difference_seconds'] = df['time_difference'].dt.total_seconds()
# df['exact_ts'] = pd.to_datetime(df['first_timestamp'], unit='s')
# df['first_timestamp'] = pd.to_datetime(df['first_timestamp'])
print(df[['first_timestamp', 'time_difference', 'time_difference_seconds']])

# df

                    first_timestamp           time_difference  \
13872 1970-01-20 11:42:13.345780637           0 days 00:00:00
13874 1970-01-20 11:42:13.378546717 0 days 00:00:00.032766080
13875 1970-01-20 11:42:13.378546984 0 days 00:00:00.032766347
13876 1970-01-20 11:42:13.378698972 0 days 00:00:00.032918335
13877 1970-01-20 11:42:13.378699213 0 days 00:00:00.032918576
...                             ...                       ...
3463  1970-01-20 17:38:10.618020767 0 days 05:55:57.272240130
9214  1970-01-20 17:38:11.179948822 0 days 05:55:57.834168185
18394 1970-01-20 17:38:11.218025056 0 days 05:55:57.872244419
5689  1970-01-20 17:38:11.236329873 0 days 05:55:57.890549236
5690  1970-01-20 17:38:11.236329985 0 days 05:55:57.890549348

       time_difference_seconds
13872                 0.000000
13874                 0.032766
13875                 0.032766
13876                 0.032918
13877                 0.032919
...                        ...
3463              21357.272240
9214              21357.834168
18394             21357.872244
5689              21357.890549
5690              21357.890549

[20086 rows x 3 columns]

In [61]:
df_sorted = df.sort_values(by='first_timestamp', ascending=True)
df['first_timestamp'] = pd.to_datetime(df['first_timestamp'])
df = df.sort_values(by='first_timestamp', ascending=True)
df['bucket'] = df['first_timestamp'].diff().dt.total_seconds()*1000
# df['bucket'] = ((df['first_timestamp'] - df['first_timestamp'].min()).dt.total_seconds() // 1)
# df['bucket'] = ((df['first_timestamp'] - df['first_timestamp'])

In [63]:
df[['first_timestamp', 'bucket']]

                 first_timestamp     bucket
47 1970-01-20 16:53:24.138752584        NaN
79 1970-01-20 16:53:24.138752836   0.000252
50 1970-01-20 16:53:24.138753051   0.000215
54 1970-01-20 16:53:24.138753126   0.000075
56 1970-01-20 16:53:24.138753239   0.000113
35 1970-01-20 16:53:24.138753298   0.000059
61 1970-01-20 16:53:24.138753354   0.000056
29 1970-01-20 16:53:24.138753692   0.000338
28 1970-01-20 16:53:24.138753777   0.000085
45 1970-01-20 16:53:24.138807026   0.053249
0  1970-01-20 16:53:24.177900239  39.093213

In [ ]:
def get_time_slices(start_time, end_time, delta=60):
    list_time_slice = []
    tmp_time = start_time
    if delta > 0:
        while(tmp_time <= end_time): 
            list_time_slice.append({'start_time':tmp_time,'end_time':tmp_time + timedelta(minutes = delta)})
            tmp_time = tmp_time + timedelta(minutes = delta)
    else:
        list_time_slice.append({'start_time':start_time,'end_time':end_time})
    return list_time_slice

device_data = labelled_flow_data[((labelled_flow_data['src_device_name'] == device) | 
                                              (labelled_flow_data['dst_device_name'] == device))  & 
                                             (labelled_flow_data['flow_start_time'] > window['start_time']) & 
                                             (labelled_flow_data['flow_start_time'] <= window['end_time'])]